@import 'app/scss/styles/variables';

#main{
    height: 100%;

    .row{
        height: 100%;
    }
}

.p-container{
    height: 480px;
    width: 360px;
    position: relative;
    background-color: $main-player-color;
    border-radius: 25px;
}
    .song-content{
        height: 338px;
        width: 100%;
        position: relative;
        border-radius: 25px 25px 0 0;
    }
        .song-cont-item{
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 25px 25px 0 0;
        }

        .song-top-navigation{
            height: 65px;
            width: 100%;
            z-index: 5;
            background-color: rgba($top-navigation-color, .6);
        
            .icon:last-of-type{
                margin-right: 0px;
            }
        }

        .song-top-navigation i{
            position: absolute;
            right: 20px;
            top: 50%;
            transform: translate(0, -50%);
            color: $font-artist-color;
            font-size: 1.8rem;
        }

            .icon{
                height: 17px;
                width: 17px;
                display: inline-block;
                margin-right: 22px;
               // background-color: red;
                background-repeat: no-repeat;
                background-size: cover;
                background-position: center;
            }


            .repeat{
                background-image: url("../../assets/svg/mp-repeat-icon.svg");
            }
            
            .shuffle{
                background-image: url("../../assets/svg/mp-random-icon.svg");
            }

            .redo-circle{
                background-image: url("../../assets/svg/mp-redo-circle-icon.svg");
                background-size: 90%;
            }

        .song-content-image{
            height: 100%;
            width: 100%;
            //background-image: url("../../assets/jpg/songs-bg/Icona_Pop.jpg");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: top;
            background-size: 113%;
            z-index: 1;
        }

        .song-content-mask{
            height: 100%;
            width: 100%;
            background-color: rgba($image-fade-color, .26);
            z-index: 2;
        }

        .song-content-info{
            height: 65px;
            width: 100%;
            position: absolute;
            bottom: 0;
            left: 0;
            z-index: 5;
            background-color: rgba($top-navigation-color, .6);
            flex-direction: column;
        }

        .song-content-info > a{
            color: $white-color;
        }

        .song-content-info > a:first-child{
            font-size: 1.6rem;
            font-weight: bold
        }

    .song-navigation{
        position: relative;
        z-index: 5;

        .prog-bar{
            height: 7px;
            width: 100%;

            .prog{
                height: 100%;
                float: left;
            }

            .progress-finished{
                width: 70%;
                position: relative;
                background-color: $white-color;

                .btn-progress{
                    height: 22px;
                    width: 22px;
                    position: absolute;
                    right: 0;
                    top: 50%;
                    border-radius: 50%;
                    background-color: $white-color;
                    transform: translate(50%, -50%);
                    box-shadow: 0px 2px 4px 0px rgba($black-color, .1);
                    background-image: url("../../assets/svg/mp-volume-icon.svg");
                    background-repeat: no-repeat;
                    background-size: 50%;
                    background-position: center;
                }
            }
            
            .progress-to-finish{
                width: 30%;
                background-color: $progress-bar-heart-color;
            }  

        }

        .navigation-items{
            height: 135px;
            justify-content: space-between;

            .btn-song-navigation{
                display: flex;
                flex-direction: row;
                color: $white-color;

                .btn-big > i{
                    font-size: 2rem;
                }
            }
        }

        .navigation-items div:first-child{
            margin-left: 20px;
        }

        .navigation-items div:last-child{
            margin-right: 20px;
            
        }
    }    

.btn-small{
    font-size: 1rem;
    height: 36px;
    width: 36px;
    border-radius: 50%;
    background-color: $white-color;
    transform: scale(1);
    transition: all .5s ease-out;
}

.btn-big{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 0 20px;
    transition: all .5s ease-out;
}

.btn-p{
    background-color: $buttons-color;
}
        
.p-container:last-child{
    margin-left: 30px;
}


.btn-song-share{
    color: $buttons-color;
    line-height: 13px;
}

.btn-song-favourite{
    background-image: url("../../assets/svg/mp-like-icon.svg");
    background-repeat: no-repeat;
    background-size: 13px auto;
    background-position: center;
}

::-webkit-scrollbar-track{
    background-color: $main-player-color;
}

::-webkit-scrollbar{
    width: 6px;
    background-color: $main-player-color;
}


::-webkit-scrollbar-thumb{
    border-radius: 3px;
    background-color: $scrollbar-color;
}