//main variables
$main-player-color: #eeeff5;
$top-navigation-color: #2a224d;
$image-fade-color: #544282;
$white-color: #fff;
$black-color: #000;
$progress-bar-heart-color: #ed5e74;
$buttons-color: #60558f;
$border-color: #d3d5de;
$scrollbar-color: #dfdfe7;

$font-songname-color: #2f1a4b;
$font-artist-color: #78747f;

