.song-list-top {
  position: sticky;
  top: 0;
  left: 0;
  border-radius: 25px 25px 0 0;
  height: 65px;
  width: 100%;
  background-color: #eeeff5;
  text-align: center; }

.song-list-top > div {
  position: absolute;
  left: 20px;
  top: 50%;
  transform: translate(0%, -50%); }

.song-list-top > h3 {
  color: #2f1a4b;
  font-weight: bold;
  line-height: 65px;
  vertical-align: middle; }

.close-playlist {
  background-image: url("../../assets/svg/mp-redo-icon.svg");
  background-repeat: no-repeat;
  background-size: 50%;
  background-position: center; }

.song-list {
  height: 415px;
  overflow: scroll;
  box-sizing: border-box;
  width: calc(100% - 45px);
  padding: 0 30px 0 0;
  margin-left: 25px;
  border-radius: 0 0 25px 25px; }

.song-list-item {
  height: 80px;
  justify-content: space-between;
  border-bottom: 1px solid #d3d5de; }

.song-list-item:hover .song-info > a {
  color: #ed5e74; }

.song-list-item:last-child {
  margin-bottom: 40px; }

.song-info {
  cursor: pointer; }

.song-info > span {
  color: #78747f;
  font-size: 1.2rem; }

.song-info > a {
  transition: all .3s;
  display: block;
  color: #2f1a4b;
  font-weight: bold;
  font-size: 1.6rem; }

.song-extras > div {
  display: inline-block;
  height: 13px;
  width: 13px;
  background-color: transparent;
  border-radius: 50%; }

.song-extras > div:last-child {
  margin-left: 12px;
  background-size: 100% auto; }

.song-list-bottom {
  height: 60px;
  width: 100%;
  position: absolute;
  bottom: 0;
  left: 0;
  z-index: 5;
  border-radius: 0 0 25px 25px;
  background: -moz-linear-gradient(top, rgba(238, 239, 245, 0) 0%, rgba(238, 239, 245, 0.5) 25%, #eeeff5 50%);
  /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgba(238, 239, 245, 0) 0%, rgba(238, 239, 245, 0.5) 25%, #eeeff5 50%);
  /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgba(238, 239, 245, 0) 0%, rgba(238, 239, 245, 0.5) 25%, #eeeff5 50%);
  /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 );
  /* IE6-9 */ }

.rotate-none {
  transition: all 1s;
  transform-origin: 0 50%;
  transform: rotateY(90deg);
  width: 0; }

.rotate-full {
  transition: all 1s;
  transform-origin: 0 50%;
  transform: rotateY(0deg);
  width: 360px; }

.fa-play {
  margin-left: 7%; }
