<!DOCTYPE html lang="en">

<html>
    <head>
        <meta charset="UTF-8">
        <title>HRtec Task</title>
        
        <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
        
        <link rel="stylesheet" type="text/css" href="css/libs/bootstrap.min.css"/>
        {{! <link rel="stylesheet" type="text/css" href="css/libs/font-awesome.min.css"/> }}
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Rambla:400,700" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/styles/main.css"/>
       
        <link rel="shortcut icon" type="image/png" href="assets/png/hrtec_favi.png"/>

        <script
            src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
            crossorigin="anonymous"></script>
        <script src="scripts/songs.min.js"></script>
        <script src="scripts/main.min.js"></script>
    </head>

    <body>
