                    <div class="p-container">
                        <div class="song-content">
                            <div class="song-cont-item song-top-navigation center">
                                <div class="icon repeat"></div>
                                <div class="icon shuffle"></div>
                                <div class="icon redo-circle"></div>
                                <i class="fas fa-bars"></i>
                            </div>
                            <div class="song-cont-item song-content-image"></div>
                            <div class="song-cont-item song-content-mask"></div>
                            <div class="song-content-info center">
                            </div>
                        </div>
                        <div class="song-navigation">
                            <div class="prog-bar">
                                <div class="prog progress-finished">
                                    <div class="btn-progress"></div>
                                </div>
                                <div class="prog progress-to-finish"></div>
                            </div>
                            <div class="navigation-items center">
                                <div class="btn-small btn-song-share center">
                                    <i class="fas fa-share-alt"></i>
                                </div>
                                <div class="btn-song-navigation vertical-center">
                                    <div class="btn-small btn-back btn-p center">
                                        <i class="fas fa-step-backward"></i>
                                    </div>
                                    <div class="btn-big btn-play-stop btn-p center">
                                        <i class="fas fa-play"></i>
                                    </div>
                                    <div class="btn-small btn-forward btn-p center">
                                        <i class="fas fa-step-forward"></i>
                                    </div>
                                </div>
                                <div class="btn-small btn-song-favourite">
                                
                                </div>
                            </div>
                        </div>
                    </div>
